target/
!.mvn/wrapper/maven-wrapper.jar
.java-version

# Generated
jfio-native/src/main/resources/native-lib

### IntelliJ IDEA ###
.idea

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

**/.flattened-pom.xml

